<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Explanation</th>
      <th>Link</th>
      <% if actions == :archived %>
        <th>Sent</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% puzzles.each do |puzzle| %>
      <tr id="<%= dom_id(puzzle) %>">
        <td><%= simple_format(puzzle.question) %></td>
        <td><%= puzzle.answer %></td>
        <td><%= puzzle.explanation %></td>
        <td>
          <% if puzzle.link.present? %>
            <%= link_to 'View', puzzle.link, target: '_blank' %>
            &nbsp;
          <% end %>
        </td>
        <% if actions == :archived %>
          <td><%= time_ago(puzzle.sent_at) %></td>
        <% end %>
        <td>
          <% if actions == :pending %>
            <%= button_to 'Approve', puzzle_state_path(puzzle, state: :approved), method: :patch, form_class: 'inline-form', class: 'btn approve-btn' %>
            <%= button_to 'Reject', puzzle_state_path(puzzle, state: :rejected), method: :patch, form_class: 'inline-form', class: 'btn reject-btn' %>
            <%= link_to "Edit",
              edit_puzzle_path(puzzle),
              data: { turbo_frame: "modal" },
              class: "btn edit-btn" %>
          <% elsif actions == :approved %>
            <%= button_to 'Reject', puzzle_state_path(puzzle, state: :rejected), method: :patch, form_class: 'inline-form', class: 'btn reject-btn' %>
            <%= button_to 'Pending', puzzle_state_path(puzzle, state: :pending), method: :patch, form_class: 'inline-form', class: 'btn pending-btn' %>
          <% elsif actions == :rejected %>
            <%= button_to 'Approve', puzzle_state_path(puzzle, state: :approved), method: :patch, form_class: 'inline-form', class: 'btn approve-btn' %>
            <%= button_to 'Pending', puzzle_state_path(puzzle, state: :pending), method: :patch, form_class: 'inline-form', class: 'btn pending-btn' %>
          <% elsif actions == :archived %>
            <%= button_to 'Un-Archive', puzzle_state_path(puzzle, state: :pending), method: :patch, form_class: 'inline-form', class: 'btn pending-btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
